<ion-view view-title="Ayuda UNET">
  <ion-content class="padding" scroll="false">
    <div class="row">
      <div class="col col-50">
        <div class="list card">
          <div class="item item-body">
            <img class="full-image" src="img/materia.svg">
          </div>

          <a class="item assertive" href="#">
            <p style="font-size: x-small; color: #2553db;">Tabla de Conversión</p>
          </a>
        </div>
      </div>
      <div class="col col-50">
        <div class="list card">
          <div class="item item-body">
            <img class="full-image" src="img/materia.svg">
          </div>

          <a class="item assertive" href="#">
            <p style="font-size: x-small; color: #2553db;">¿Cuánto me Falta?</p>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <div class="list card">
          <div class="item item-body">
            <img class="full-image" src="img/materia.svg">
          </div>

          <a class="item assertive" href="#">
            <p style="font-size: x-small; color: #2553db;">Guarda tus Notas</p>
          </a>
        </div>
      </div>
      <div class="col col-50">
      </div>
    </div>
  </ion-content>
</ion-view>
