<ion-view view-title="Ayuda UNET">
  <ion-content class="padding" scroll="false">
    <div class="row">
      <div class="col col-50">
        <div class="list card">
          <div class="item item-body" style="text-align: center">
            <i class="icon ion-android-apps"></i>
          </div>

          <a menu-close class="item assertive" href="#/app/tabla" style="text-align: center; background-color: #387ef5">
            <p style="font-size: x-small; color: #fefefe;">Tabla de Conversión</p>
          </a>
        </div>
      </div>
      <div class="col col-50">
        <div class="list card">
          <div class="item item-body" style="text-align: center">
            <i class="icon ion-calculator"></i>
          </div>

          <a menu-close class="item assertive" ng-click="showAlert()" style="text-align: center; background-color: #387ef5">
            <p style="font-size: x-small; color: #fefefe;">¿Cuánto me Falta?</p>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-25">
      </div>
      <div class="col col-50">
        <div class="list card">
          <div class="item item-body" style="text-align: center">
            <i class="icon ion-archive"></i>
          </div>

          <a menu-close class="item assertive" href="#/app/guarda" style="text-align: center; background-color: #387ef5">
            <p style="font-size: x-small; color: #fefefe;">Guarda tus Notas</p>
          </a>
        </div>
      </div>
      <div class="col col-50">
      </div>
    </div>
  </ion-content>
</ion-view>
