<ion-nav-bar class="bar bar-primary">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
<ion-tabs class="tabs-positive tabs-icon-top">
  <!-- Dashboard Tab -->
  <ion-tab title="Inicio" icon-off="ion-android-alarm-clock" icon-on="ion-android-alarm-clock" href="#/tab/inicio">
    <ion-nav-view name="tab-inicio"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="BUSCAR" icon-off="ion-android-search" icon-on="ion-android-search" href="#/tab/inicio">
    <ion-nav-view name="tab-inicio"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="FARMACIAS" icon-off="ion-ios-medkit" icon-on="ion-ios-medkit" href="#/tab/inicio">
    <ion-nav-view name="tab-inicio"></ion-nav-view>
  </ion-tab>
</ion-tabs>

