/* Empty. Add your own CSS if you like */
.center{
    text-align: center !important;
    padding-top: 20px;
}

.center-footer{
    position: absolute;
    bottom: 15px;
    text-align: center;
    width: 100%;
}

i.ion-ios-telephone-outline {
  font-size: 50px;
}

.padding-services{
    padding: 30px !important;
    border-radius:5px;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}