<ion-view title="Home" hide-nav-bar="true">
  <ion-content scroll="false" class="padding">
    <ion-slides  options="options" slider="data.slider">
      <ion-slide-page class="padding-top">
        <div class="text-center">
          <img src="../img/image1.jpg" alt="">
          <p>lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <button class="button button-block button-positive" ng-click="login()">
          Ingresa con el token de tu empresa
        </button>
      </ion-slide-page>
      <ion-slide-page class="padding-top">
        <div class="text-center">
          <img src="../img/image2.jpg" alt="">
          <p>lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <button class="button button-block button-positive" ng-click="login()">
          Ingresa con el token de tu empresa
        </button>
      </ion-slide-page>
      <ion-slide-page class="padding-top">
        <div class="text-center">
          <img src="../img/image3.jpg" alt="">
          <p>lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <button class="button button-block button-positive" ng-click="login()">
          Ingresa con el token de tu empresa
        </button>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>
