<ion-view view-title="Logout" hide-nav-bar="true">
  <ion-content class="padding">
    <div class="center">
        <p>¿Seguro que quieres salir?</p>
    </div>
    <div class="row">
        <div class="col col-50">
            <button class="button button-block button-positive" ng-click="login()">
                Salir
            </button>
        </div>
        <div class="col col-50">
            <button class="button button-block button-positive" ng-click="login()">
                Continuar
            </button>
        </div>
    </div>
  </ion-content>
</ion-view>
