<ion-view view-title="Contacto">
  <ion-content class="padding" scroll="false">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Tu nombre">
      </label>
      <label class="item item-input">
        <input type="email" placeholder="Ingresa tu correo">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Asunto">
      </label>
      <label class="item item-input">
        <textarea placeholder="Escribe tu idea, tu propuesta, o que quieres hacer realidad"></textarea>
      </label>
    </div>
    <div style="text-align: center">
      <button class="button button-outline button-assertive">
        Enviar Mensaje
      </button>
    </div>
  </ion-content>
</ion-view>
