<ion-view view-title="{{empleado.nombre}}">
  <ion-content class="padding">

    <div class="list card">

      <div class="item item-body">
        <img class="full-image" src="{{empleado.imagen}}">
        <p>
          {{empleado.descripcion}}
        </p>
        <div class="list">

          <span class="item item-icon-right">
            <p>+58 414 4144141</p>
            <i class="icon ion-ios-telephone-outline"></i>
          </span>

          <span class="item item-icon-right">
            <p>email@gmail.com</p>
            <i class="icon ion-ios-email-outline"></i>
          </span>

        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
