<ion-view view-title="Nueva Alarma">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="Medicamento">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Dosis">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Repetición">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Dosis
        </div>
        <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>
      </label>
    </div>
    <div style="text-align: center">
      <button class="button button-outline button-positive">
        Guardar Alarma
      </button>
    </div>
  </ion-content>
</ion-view>
