<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-positive tabs-icon-top">
  <!-- Dashboard Tab -->
  <ion-tab title="ALARMAS" icon-off="ion-android-alarm-clock" icon-on="ion-android-alarm-clock" href="#/tab/alarmas">
    <ion-nav-view name="tab-alarmas"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="BUSCAR" icon-off="ion-android-search" icon-on="ion-android-search" href="#/tab/buscar">
    <ion-nav-view name="tab-buscar"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="FARMACIAS" icon-off="ion-ios-medkit" icon-on="ion-ios-medkit" href="#/tab/farmacias">
    <ion-nav-view name="tab-farmacias"></ion-nav-view>
  </ion-tab>
</ion-tabs>

